[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/HandmadeMath"]
	path = libs/HandmadeMath
	url = https://github.com/HandmadeMath/HandmadeMath.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
